<head th:fragment="common_css" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:text="${pageTitle!=null ? pageTitle : 'demo'}"></title>
    <link th:href="@{/static/css/ace.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/easyui.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/platform.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/workbench.css}" rel="stylesheet"/>
    <link th:href="@{/static/js/lobibox/lobibox.min.css}" rel="stylesheet"/>

    <!--&lt;!&ndash;<script th:src="@{/static/js/vue.js}"></script>&ndash;&gt;-->
    <!--<link rel="icon" type="image/x-icon" th:href="@{/static/images/icon.ico}"/>-->
</head>