<div th:fragment="common_js">
    <script th:src="@{/static/js/jquery-1.7.2.js}"></script>
    <script th:src="@{/static/js/commutils.js}"></script>
    <script th:src="@{/static/js/echarts.js}"></script>
    <script th:src="@{/static/js/china.js}"></script>
    <script th:src="@{/static/js/jquery.easyui.min.js}"></script>
    <script th:src="@{/static/js/main.js}"></script>
    <script th:src="@{/static/js/layer/layer.js}"></script>
    <script th:src="@{/static/js/md5.js}"></script>
    <!--引入自定义的js add by wust 2017-2-23-->
    <script th:src="@{/static/js/lobibox/lobibox.min.js}"></script>

</div>