<style>
    .labecaint{
        height: 45px;
        padding: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid #000000;
        background: #F6F6F6;
    }
    .lable_buton{
        float: left;
        width: 110px;
        height: 100%;
        background: #62A8D1;
        margin-left: 5px;
        text-align: center;
        font-size: 18px;
        color: #ffffff;

    }
    .lable_buton span{
        margin-top: 10px;
    }
    .active{
        background: #1da02b;
    }
</style>

<div class="labecaint">
    <button onclick="checkLable(this,1)" class="lable_buton active">数据大盘</button>
    <button onclick="checkLable(this,2)" class="lable_buton">销售数据</button>
    <button onclick="checkLable(this,3)" class="lable_buton">供货数据</button>
    <button onclick="checkLable(this,4)" class="lable_buton">风险监控</button>
</div>

<script>
    /*<![CDATA[*/
     function checkLable(obj,index) {
         clearClass();
         $(obj).addClass("lable_buton active");
         if(index==1){
             //首页
             window.location.href="/country/index";
         }
         //用户管理首页
         if(index==2){
//             window.location.href="/admin/user/list"
         }
     }
     
     function clearClass() {
         var o = $(".lable_buton");
         for(var i=0;i<o.length;i++){
             $(o[i]).removeClass("lable_buton active");
             $(o[i]).addClass("lable_buton");
         }
     }
    /*]]>*/
</script>