<!DOCTYPE html>
<html id="child-html" lang="en" xmlns:th="http://www.thymeleaf.org" class="login-html">
<head>
    <meta charset="utf-8"/>
    <title>Fullscreen Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/reset.css"/>
    <link rel="stylesheet" href="../../static/css/supersized.css"/>
    <link rel="stylesheet" href="../../static/css/login.css"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body oncontextmenu="return false" >

<div class="page-container">
    <h1>Login</h1>
    <form id="pageForm" action="/admin/user/login" method="post">
        <div>
            <input type="text" name="loginName" class="username" placeholder="登录名" autocomplete="off"/>
            <span th:text="${ACCOUNTINFO}"></span>
        </div>
        <div>
            <input id="password" type="password" name="password" class="password" placeholder="登录密码" oncontextmenu="return false"
                   onpaste="return false"/>
            <span th:text="${PASSWORDINFO}"></span>
        </div>
        <span th:text="${logInfo}"></span>
        <button onclick="loginFunc()" type="button">登  录</button>
    </form>
    <div class="connect">
        <p>If we can only encounter each other rather than stay with each other,then I wish we had never
            encountered.</p>
        <p style="margin-top:20px;">如果只是遇见，不能停留，不如不遇见。</p>
    </div>
</div>
<div class="alert" style="display:none">
    <h2>消息</h2>
    <div class="alert_con">
        <p id="ts"></p>
        <p style="line-height:70px"><a class="btn">确定</a></p>
    </div>
</div>

<!-- Javascript -->
<div th:include="util/common_js"></div>
<script src="../../static/js/supersized.3.2.7.min.js"></script>
<script src="../../static/js/supersized-init.js"></script>


    <script type="text/javascript">

        function loginFunc() {
            $("#password").val(MD5($("#password").val()+''));
            document.getElementById("pageForm").submit();
        }
    window.onload = function () {
        $(".connect p").eq(0).animate({"left": "0%"}, 600);
        $(".connect p").eq(1).animate({"left": "0%"}, 400);
    }

</script>

</body>

</html>

