<!DOCTYPE html>
<html id="child-html" lang="en" xmlns:th="http://www.thymeleaf.org" class="login-html">
<head th:include="util/common_css"></head>
<body>
<div class="cl-sidebar" th:include="util/header"></div>
<div class="cl-sidebar" th:include="util/goodslable"></div>
<div class="margin clearfix">
    <div class="Guestbook_style">
        <div class="search_style">
            <form id="conditionForm"  role="form" action="list" method="post">

            <div class="title_names">搜索查询</div>
            <ul class="search_content clearfix">
                <li><label class="l_f">商品名称</label>
                    <input name="goodstitle" type="text" class="text_add" placeholder="输入商品名称" style=" width:250px"/></li>
                <li style="width:90px;"><button type="submit" class="btn_search"><i class="icon-search"></i>查询</button></li>
            </ul>
        </form>
        </div>
        <div class="border clearfix">
       <span class="l_f">
        <a href="/goods/add" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;新增商品</a>
       </span>

        </div>
        <!--留言列表-->
        <div class="Guestbook_list">
            <table class="table table-striped table-bordered table-hover" id="sample-table">
                <tr class="table_first_tr">
                    <td>商品编号</td>
                    <td>商品名称</td>
                    <td>商品进价</td>
                    <td>商品状态</td>
                    <td>发布时间</td>
                    <td>操作</td>
                </tr>
                <tr th:if="${page.content!=null and page.content.size() !=0}" th:each="form:${page.content}">
                    <td th:text="${form.goodsNo}"></td>
                    <td th:text="${form.goodstitle}"></td>
                    <td >
                        <span th:text="${form.inPrice}"></span> 元/
                        <span th:text="${form.unitType.remark}"></span>
                    </td>
                    <td>
                        <span th:if="${form.state==0 ||form.state==null}">发布</span>
                        <span th:if="${form.state==1}">已进货</span>
                        <span th:if="${form.state==2}">在售</span>
                        <span th:if="${form.state==4}">已上架</span>
                        <span th:if="${form.state==5}">已下架</span>
                    </td>
                    <td th:text="${form.createTime}"></td>
                    <td>
                        <a th:href="@{detial(goodsId=${form.id},page=${query.index})}">查看</a>
                        <a th:href="@{edit(id=${form.id})}">编辑</a>
                        <a th:href="@{/invoicing/add(goodsId=${form.id})}">进货</a>
                        <a th:if="${form.state !=4}" th:href="@{'/saleGoods/add/'+${form.id}}" >上架</a>
                    </td>
                </tr>
                <tr th:if="${page.content.size()==0}">
                    <td colspan="6" style="color: red">未查询到相关记录</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12" th:include="base/page"/>
    </div>
</div>
</body>
<div th:include="util/common_js"></div>
</html>